* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background: #1e1e2f;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  color: #f8f9fa;
}
.container {
  width: 800px;
}
.form {
  background-color: #2b2b3c;
  border-radius: 6px;
  padding: 20px;
  display: flex;
  align-items: center;
}
h1{
  width: 400px;
  margin: 20px auto;
}
.input {
  padding: 15px;
  width: 80%;
  font-size: 20px;
  margin: 0 auto;
  border: 1px solid #ddd;
  border-radius: 8px;
}
.input:focus {
  outline: none;
}
.add {
  border: none;
  background-color: white;
  color: #000;
  font-size: 18px;
  font-weight: bold;
  padding: 15px;
  border-radius: 6px;
  margin-left: 10px;
  cursor: pointer;
  transition: 0.3s;
}
.add:hover {
  background-color: #000;
  color: white;
}
.tasks {
  background-color: #2b2b3c;
  margin-top: 10px;
  border-radius: 6px;
  padding: 20px;
}
.tasks .task {
  background-color: #645ab6;
  padding: 15px 25px;
  font-size: 22px;
  border-radius: 6px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: 0.3s;
  cursor: pointer;
}
.tasks .task:not(:last-child) {
  margin-bottom: 15px;
}
.tasks .task:hover {
  background-color: green;
}
.tasks .task.done {
  opacity: 0.5;
  background-color: green;
}
.tasks .task span {
  background-color: #e04864;
  color: white;
  font-size: 15px;
  font-weight: bold;
  padding: 8px 15px;
  border-radius: 4px;
  cursor: pointer;
}
.tasks .task span:hover{
  background-color: #ff1414;
}
.deleteAllBtn {
  width: 100%;
}
.delete-all {
  background-color: #e04864;
  padding: 15px;
  width: 100%;
  margin-top: 7px;
  border: none;
  outline: none;
  border-radius:7px;
  color: white;
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s;
}
.delete-all:hover {
  background-color: #ff1414;
}